  .heading
  {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    padding: 10px;
    float: none;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .head
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  body{
    background-image:url(background.jpg);
  }
canvas{
border-width: 5px;
border-color: rgb(15, 199, 168);
box-shadow: 5px 5px 5px black;
margin-top: 160px;
}
.copy_right_footer{
  position: fixed;
  color: #825f5f;
  background-color:#762424 ;
  bottom: 0;
  width: 100%;
  line-height: 3;
  text-align: center;
}